.categoryList{
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
    justify-content: center;
}


.categoryItem {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 250px;
  height: 250px;
  margin: 0 20px;
  cursor: pointer;
  transition: 300ms ease-in-out all;
  margin: 10px;
}
.categoryItem:hover {
  width: 260px;
  height: 260px;
  border-top: 3px solid #FF2625;
}
.imgCategory {
  display: flex;
  width: 100%;
}

.categoryImg {
  width: 20%;
  margin: 70px auto 0 auto;
}

.categoryName {
  text-align: center;
  font-size: 24px;
  color: #3a1212;
  line-height: 36px;
  font-weight: 700;
}
