
.footer{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin: auto 0px 20px 0px ;
   
}

.footerTextDiv{
    margin: 10px;
    font-size: 28px;
    line-height: 37px;
    font-weight: 400;
}

