.navigation{
    /* background-color: rgb(202, 182, 182); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 30px;
    font-size: 24px;
}

.navBar{
    display: flex;
    align-items: center;
}

.imgLogo{
    margin: 10px;
}

.nav{
    margin-left: 120px;
}

#navLink{
    text-decoration: none;
    color: #3A1212;
    margin: 0 15px;
    font-weight: 400;
}

#navLink.active{
    border-bottom: 3px solid #FF2625;
}